#block-blueye-content {
  .user-login-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    #edit-name {
      margin-top: 5rem;
      margin-bottom: 1rem;
      background-color: #1fcf82;
      height: 2rem;
      padding-left: 20px;
      border-color: #1fcf82;

      &::placeholder {
        color: white;
        background: url(https://cdn.shopify.com/s/files/1/0241/6069/8473/files/down-arrow_2.png?v=1630663882)
          #1fcf82;
        background-repeat: no-repeat;
        background-position: right;
      }
    }
    #edit-pass {
      background-color: #1fcf82;
      height: 2rem;
      padding-left: 20px;
      margin-bottom: 2rem;
      border-color: #1fcf82;
      
      &::placeholder {
        color: white;
        background: url(https://cdn.shopify.com/s/files/1/0241/6069/8473/files/down-arrow_2.png?v=1630663882)
          #1fcf82;
        background-repeat: no-repeat;
        background-position: right;
      }
    }
    .forgot-pass {
      margin-bottom: 1rem;
      text-align: left;
    }
    #edit-submit {
      height: 2rem;
      width: 32.6rem;
      color: #444;
      border-color: #222;
      background-color: #fff;
      margin-bottom: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      order: 4;

      &:hover {
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background-color: #20cf82;
        border-color: #20cf82;
        border: 0.3rem solid #20cf82;
      }
    }
    .txt-center {
      order: 5;
      margin-bottom: 2rem;
    }
  }
}
