#block-blueye-content {
  .user-register-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    #edit-name {
        display: none;
    }

    #edit-mail {
      margin-top: 4rem;
      margin-bottom: 1rem;
      background-color: #1fcf82;
      height: 2rem;
      padding-left: 20px;
      border-color: #1fcf82;

      &::placeholder {
        color: white;
        background: url(https://cdn.shopify.com/s/files/1/0241/6069/8473/files/down-arrow_2.png?v=1630663882)
          #1fcf82;
        background-repeat: no-repeat;
        background-position: right;
      }
    }

    #edit-pass {
        div > label {
            display: none;
        }
    }

    #edit-pass-pass1 {
      background-color: #1fcf82;
      height: 2rem;
      padding-left: 20px;
      border-color: #1fcf82;
      width: 32.5rem;

      &::placeholder {
        color: white;
        background: url(https://cdn.shopify.com/s/files/1/0241/6069/8473/files/down-arrow_2.png?v=1630663882)
          #1fcf82;
        background-repeat: no-repeat;
        background-position: right;
      }
    }

    #edit-submit {
      height: 2rem;
      width: 32.6rem;
      color: #444;
      border-color: #222;
      background-color: #fff;
      margin-bottom: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      order: 5;

      &:hover {
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background-color: #20cf82;
        border-color: #20cf82;
        border: 0.3rem solid #20cf82;
      }
    }

    .login-txt {
      order: 6;
      margin-bottom: 2rem;
    }

    .form-item-policy {
      display: flex;
      flex-direction: row;
     

      .form-checkbox {
        margin-top: 1.4rem;
      }

      .description {
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
      }
    }

    .password-confirm {
        display: none;
    }

    .form-item-pass-pass2 {
        label {
            display: none;
        }
    }
  }
}
