#block-views-block-all-products-block-1-2 {
  padding: 45px 0px 75px 0px;
  position: relative;
}

.titleClass {
  display: flex;
  flex-wrap: wrap;

  h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.allProduct {
  display: flex;
  padding: 5px 5px 5px 5px;
  .views-view-grid {
    position: relative;
  }
  .views-row .views-col {
    width: 100% !important;
    border-radius: 15px;
    background-color: #ebebeb;
    margin-left: 12px;
    position: relative;
    // opacity: 0;
  }
  .views-element-container .views-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    gap: 12px;
    position: relative;

    .views-col {
      flex-basis: 45%;
      background-color: #ebebeb;
      border-radius: 10px;
      * {
        margin: 0 auto;
      }
    }
  }
}

#block-views-block-all-products-block-1-2 {
  .bttnclass {
    display: none;
    position: absolute;
    background-color: #20cf82;
    width: 150px;
    height: 45px;
    top: 48%;
    left: 48%;
    transform: translate(-45%, -32%);
    padding: 10px 0 0 10px;

    .greenbutton {
      color: white;
      text-transform: uppercase;
      padding: 0 20px 0 20px;
    }
  }
}

#block-views-block-all-products-block-1-2 {
  // .views-row .views-col .bttnclass {
  // }
  // .allProduct .views-element-container .views-row .views-col:hover {
  //   filter: brightness(0.5);
  //   // opacity: 1;
  // }
  // .allProduct .views-view-grid .views-row .views-col:hover {
  //   filter: brightness(0.5);
  // }
  .allProduct .views-element-container .views-row .views-col:after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 10px;
  }

  .allProduct .views-element-container .views-row .views-col:hover:after {
    opacity: 1;
  }

  .allProduct .views-view-grid .views-row .views-col:after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 10px;
  }

  .allProduct .views-view-grid .views-row .views-col:hover:after {
    opacity: 1;
  }

  .views-row .views-col:hover .bttnclass {
    display: block;
    z-index: 99;
    opacity: unset;
  }

}

@media (max-width: 467px) {
  #block-views-block-all-products-block-1-2 {
    .allProduct {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      img {
        max-width: 348px;
        max-height: 259px;
      }

      .views-view-grid {
        margin-bottom: 10px;
      }

      .views-element-container {
        .views-row {
          flex-direction: column;
        }
      }
    }
  }
}
