#block-views-block-all-products-block-1-2 {
  padding: 45px 0px 75px 0px;
  position: relative;
}

.titleClass {
  display: flex;
  flex-wrap: wrap;

  h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.allProduct {
  display: flex;
  padding: 5px 5px 5px 5px;
  .views-view-grid {
    position: relative;
  }
  .views-row .views-col {
    width: 100% !important;
    border-radius: 15px;
    background-color: #ebebeb;
    margin-left: 12px;
    position: relative;
  }
  .views-element-container .views-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    gap: 12px;
    position: relative;

    .views-col {
      flex-basis: 45%;
      background-color: #ebebeb;
      border-radius: 10px;
      * {
        margin: 0 auto;
      }
    }
  }
}

#block-views-block-all-products-block-1-2 {
  .bttnclass {
    display: none;
    position: absolute;
    background-color: #20cf82;
    width: 130px;
    top: 45%;
    left: 48%;
    transform: translate(-45%,-32%);

    .greenbutton {
      color: white;
      text-transform: uppercase;
      padding: 0 20px 0 20px;
    }
  }
}

#block-views-block-all-products-block-1-2 {
  // .views-row .views-col .bttnclass {
  // }
  .allProduct .views-element-container .views-row .views-col:hover {
    filter: brightness(0.5);
  }
  .allProduct .views-view-grid .views-row .views-col:hover {
    filter: brightness(0.5);
  }
  .views-row .views-col:hover .bttnclass {
    display: block;
    z-index: 10;
  }

}

