#block-views-block-all-products-block-1-2 {
  padding: 45px 0px 75px 0px;
  position: relative;
}

.titleClass {
  display: flex;
  flex-wrap: wrap;

  h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}


.allProduct {
  display: flex;
  padding: 10px 10px 10px 10px;
  .views-element-container .views-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    gap: 10px;

    .views-col {
      flex-basis: 47%;
      background-color: #ebebeb;
      border-radius: 10px;
      * {
        margin: 0 auto;
      }
    }
  }
}