footer div {
    background-color: #f2f2f2;
}

#block-footer >  ul {
    display: flex;
    justify-content: space-around;
    padding: 30px 10px 10px 10px;
}

nav > ul > li > a {
    color: black;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 0px 0px;
}

nav > ul > li > ul {
    padding-top : 20px;
}