header > div
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding-top: 10px;
}

header .demo-block {
    flex: 1;
} 


.tb-megamenu
{
    background-color: white;
    color: black;

    & ul li .dropdown-toggle{
        color: black;
    }
}