#views_slideshow_cycle_teaser_section_slideshow-block_1 {
  & .akki {
    background: white;
    position: absolute;
    bottom: 50%;
    left: 20%;

  }

  @media (max-width: 467px) {
  // #views_slideshow_cycle_div_slideshow-block_1_0, #views_slideshow_cycle_div_slideshow-block_1_1,
  // #views_slideshow_cycle_div_slideshow-block_1_2, #views_slideshow_cycle_div_slideshow-block_1_3 {
  //   left: 0 !important;
  //   width: 467px !important;
  //   height: auto;
  //   }
  
  }

//   p {
//     display: flex;
//     align-content: center;
//     justify-content: center;
//     align-items: center;

//     img {
//       height: 100%;
//       position: absolute;
//       max-height: 100%;
//       height: 200px;
//       width: 200px;
//     }
//  }
}
