body {
  background-color: white;
}

.tb-megamenu {
  background-color: white;
  color: black;
}
.tb-megamenu ul li .dropdown-toggle {
  color: black;
}

.field-content {
  background-color: white;
}

#block-blueye-branding {
  display: inline;
}

header div {
  display: flex;
}