@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: white;
  overflow-x: hidden;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

#views_slideshow_cycle_div_slideshow-block_1_0,
#views_slideshow_cycle_div_slideshow-block_1_1,
#views_slideshow_cycle_div_slideshow-block_1_2,
#views_slideshow_cycle_div_slideshow-block_1_3 {
  background-color: white;
}

#block-blueye-branding {
  display: inline;
}

.layout-container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > div {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding-top: 10px;
}
header > div nav > ul {
  font-family: "Lato", sans-serif;
}
header > div nav > ul li > a {
  font-size: 14px;
}

header .demo-block {
  flex: 1;
}

.tb-megamenu {
  background-color: white;
  color: black;
}
.tb-megamenu ul li .dropdown-toggle {
  color: black;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle {
  background-color: white;
  color: black;
}

.tb-megamenu > li:first-child > a .dropdown-menu .mega-nav li > a {
  background: white;
  color: black;
}

.tb-megamenu-submenu .tb-megamenu-item level-2 a {
  background-color: white;
  color: black;
}

.tb-megamenu .dropdown-menu .active > a {
  background-image: none;
  background-color: white;
  color: black;
}

#views_slideshow_cycle_teaser_section_slideshow-block_1 .akki {
  background: white;
  position: absolute;
  bottom: 50%;
  left: 20%;
}

#block-views-block-all-products-block-1-2 {
  padding: 45px 0px 75px 0px;
  position: relative;
}

.titleClass {
  display: flex;
  flex-wrap: wrap;
}
.titleClass h2 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

#block-searchproductsblock {
  width: 100%;
}

.prod-block {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
  max-width: 1100px;
  max-height: 120px;
  border-radius: 10px;
  padding: 30px;
  margin: 45px auto;
}
.prod-block p > button {
  height: 44px;
  width: 185px;
  align-items: flex-start;
  background-color: #20cf82;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  display: inline-block;
  font-size: 15.68px;
  font-weight: 600;
  line-height: 26.88px;
  padding: 7px 24px 8px;
  text-align: center;
  text-transform: uppercase;
}
.prod-block .prod-block-input > span {
  position: relative;
}
.prod-block .searchicon {
  left: 30px;
  top: 6px;
}
.prod-block .prod-block-bar {
  height: 44px;
  width: 500px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 14.56px;
  line-height: 26.88px;
  padding: 8px 16px 8px 48px;
}
.prod-block .prod-block-title > h6 {
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: left;
  max-height: 30px;
  max-width: 230px;
}

.iphone-case-block {
  background-color: #f5f5f5;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  min-width: 1300px;
  padding: 50px;
}

.iphone-text2 > p {
  color: #444444;
  line-height: 24px;
  text-align: left;
  width: 570px;
  height: 180px;
}

.block-button > button {
  background-color: #20cf82;
  border-color: #20cf82;
  border-style: solid;
  border-width: 3.35938px;
  color: #ffffff;
  display: inline-block;
  font-size: 15.68px;
  font-weight: 600;
  line-height: 26.88px;
  padding: 7.84px 39.2px;
  text-align: center;
}

.iphone-image-block > p > img {
  width: 200px;
  height: 400px;
}

#block-views-block-categories-block-1 h2 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 600;
}
#block-views-block-categories-block-1 .views-element-container {
  position: relative;
}
#block-views-block-categories-block-1 .views-element-container .field-content h4 {
  position: absolute;
  bottom: 45px;
  font-size: 21px;
  font-weight: 500;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
}
#block-views-block-categories-block-1 .views-element-container .field-content h5 {
  position: absolute;
  bottom: 45px;
  font-size: 21px;
  font-weight: 500;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
}
#block-views-block-categories-block-1 .views-element-container .field-content p {
  position: absolute;
  font-size: 13px;
  font-weight: 300;
  bottom: 25px;
  color: white;
  border-radius: 20px;
  display: inline-block;
  padding-left: 10px;
  margin: 6px 0 6px 0;
}
#block-views-block-categories-block-1 .views-view-grid {
  position: relative;
}
#block-views-block-categories-block-1 .views-view-grid .views-col .field-content h5 {
  position: absolute;
  bottom: 45px;
  font-size: 21px;
  font-weight: 500;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
}
#block-views-block-categories-block-1 .views-view-grid .views-col .field-content p {
  position: absolute;
  font-size: 13px;
  font-weight: 300;
  bottom: 25px;
  color: white;
  border-radius: 20px;
  display: inline-block;
  padding-left: 10px;
  margin: 6px 0 6px 0;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
}
.main-section div:nth-child(2) {
  order: 1;
  flex-basis: 50%;
}
.main-section div:nth-child(3) {
  order: 2;
  flex-basis: 50%;
}
.main-section div:nth-child(3) .views-row {
  display: flex;
  flex-direction: column;
}
.main-section div:nth-child(4) {
  order: 3;
  flex-basis: 100%;
}

.sh-menu-link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.sh-menu-link ul {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px 0 25px;
}
.sh-menu-link ul li {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#block-shopforyourdevice-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 28px;
}

.sh-logo-image a > img {
  border-radius: 15px;
}

.block-ourblog {
  padding: 70px 0 60px 0;
}
.block-ourblog h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0 0 40px 0;
}
.block-ourblog .views-view-grid {
  padding-left: 75px;
}

.footer_first_container {
  width: 100%;
}

#block-footer > ul {
  display: flex;
  justify-content: space-around;
  padding: 30px 10px 10px 10px;
}

.subscriber-email {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0;
  padding: 20px 20px 20px 20px;
}
.subscriber-email .subscribe-text {
  background-color: #e0e0e0;
}
.subscriber-email p {
  background-color: #e0e0e0;
}
.subscriber-email p > input {
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-size: 14.56px;
  line-height: 26.88px;
  margin: 0px 10px 0px 0px;
  padding: 7.84px 22.4px;
}
.subscriber-email p > button {
  align-items: flex-start;
  background-color: #20cf82;
  border-color: #000000;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-size: 15.68px;
  font-weight: 600;
  line-height: 26.88px;
  padding: 8px 24px;
  text-align: center;
  text-transform: uppercase;
}

nav > ul > li > a {
  color: black;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0px 0px;
}

nav > ul > li > ul {
  padding-top: 20px;
}

#block-socialmediablock {
  display: flex;
}
#block-socialmediablock hr {
  margin: 15px 50px;
}
#block-socialmediablock .bottom-footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
}